@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@400;500&display=swap");

a {
  text-decoration: none;
}
.NavbarItems {
  /* background: linear-gradient(90deg, rgb(110,94,254)0%,rgba(73,63,252,1)100%); */
  background: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 4px #fc9d03 solid;
  border-left: 4px #fc9d03 solid;
  border-right: 4px #fc9d03 solid;
  padding: 15px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: fixed;
}
.navbar-logo {
  color: #fc9d03;
  justify-self: start;
  margin-left: 30px;
  cursor: pointer;
  font-family: "Amatic SC";
}
.ganofarimlogo {
  text-align: left;
  margin-left: -18px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}
.nav-links {
  color: #fc9d03;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: "Amatic SC";
}
.nav-links:hover {
  /* background-color: #6d76f7; */
  background-color: #fc9d03;
  color: white;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}
.fa-bars {
  color: #fc9d03;
}
.manu-icon {
  display: none;
}
.nav-links-mobile {
  /*login*/
  display: none;
}
@media screen and (max-width: 960px) {
  .ganofarimlogo {
    border-radius: 10px;
    margin-left: -149%;
  }
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -1000%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    /*the nav for the phone*/
    /* background: #6668f4; */
    background: #fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    margin-top: 0.5px;
  }
  .nav-links {
    text-align: center;
    padding: 1.4rem;
    width: 100%;
    display: table;
  }
  .nav-link:hover {
    /* background-color: #7577fa; */
    background-color: #f4f9ff;
    color: #fc9d03;
    border-radius: 0;
    margin-top: 10%;
  }
  .navbar-logo {
    position: absolute;
    top: -25px;
    left: 220px;
    transform: translate(25%, 50%);
  }

  .manu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times {
    color: #fc9d03;
    font-size: 2rem;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 8px;
    width: 80%;
    background: #fc9d03;
    text-decoration: none;
    color: #fff;
    font-size: 2 rem;
    font-family: "Amatic SC";
  }
  .nav-links-mobile:hover {
    background: #fff;
    /* color: #6568f4; */
    color: #fc9d03;
    transition: 250ms;
  }
  Button {
    display: none;
    font-family: "Amatic SC";
  }
}
